<div class="row container-fluid">
  <div class="col-md-6">
    <div class="card m-0 mb-4 rounded-3 shadow-sm">
      <div class="card-header m-0 py-3">
        <h4 class="my-0 m-0 fw-normal">
          FREE <span class="text-success"> APK </span>
        </h4>
      </div>
      <div class="card-body m-0">
        <h1 class="card-title pricing-card-title m-0">
          $0<small class="text-muted fw-light"></small>
        </h1>
        <ul class="text-left list-unstyled mt-3 mb-4">
          <li><i class="bi bi-check me-2"></i> Create receipts (PDF)</li>
          <li>
            <i class="bi bi-check me-2"></i> Share the receipt via Whatsapp/
            Email
          </li>
          <li>
            <i class="bi bi-check me-2"></i> Store your clients' contacts in
            your phone database
          </li>
          <li class="text-danger">
            <i class="bi bi-x-circle me-2"></i> Access Google Sheet Contacts
          </li>

          <li class="text-danger">
            <i class="bi bi-x-circle me-2"></i> Customize the e-receipt
          </li>
          <li class="text-danger">
            <i class="bi bi-x-circle me-2"></i> Monitor your revenue
          </li>
          <li class="text-danger">
            <i class="bi bi-x-circle me-2"></i> Online Data Privacy
          </li>
        </ul>
        <button
          type="button"
          target="_blank"
          class="w-100 btn btn-dark"
          (click)="getPremium('GET FREE APP VERSION')"
        >
          GET FREE APK <i class="bi bi-arrow-down"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal alert-danger">Premium</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          $370<small class="text-muted fw-light h5">/one-time fee</small>
        </h1>
        <ul class="text-left list-unstyled mt-3 mb-4">
          <li><i class="bi bi-check me-2"></i> Create receipts (PDF)</li>
          <li>
            <i class="bi bi-check me-2"></i> Share the receipt via Whatsapp/
            Email
          </li>
          <li>
            <i class="bi bi-check me-2"></i> Store your clients' contacts in
            your phone database
          </li>

          <li class="text-success">
            <i class="bi bi-check me-2"></i> Access Google Sheet Contacts
          </li>

          <li class="text-success">
            <i class="bi bi-check me-2"></i> Customize the e-receipt
          </li>
          <li class="text-success">
            <i class="bi bi-check me-2"></i> Monitor your revenue
          </li>
          <li class="text-success">
            <i class="bi bi-check me-2"></i>Online Data Privacy
          </li>
        </ul>
        <button
          type="button"
          class="w-100 btn btn-danger"
          (click)="getPremium('GET PREMIUM APP VERSION')"
        >
          Get Premium
        </button>
      </div>
    </div>
  </div>
</div>
