.name {
  color: var(--brand-black); /* Remap to brand black */
  font-size: 1.5rem; /* Increased font size */
  padding: 3px 10px;
  background-color: var(--brand-green); /* Remap to brand green */
  border-radius: 10px;
}