<h1 class="p-3 text-center display-1 fw-bold text-green py-5">
  ACADEMY <i class="bi bi-mortarboard ms-3"></i>
</h1>
<div class="row mb-5">
  <div class="col-md-2"></div>
  <div class="col-md-8 row">
    <h1 class="text-center">
      <button class="btn btn-primary m-1" (click)="navigateToTestimonies()">
        See Testimonies
      </button>
      <button class="btn btn-dark m-1" (click)="navigateToTutor()">
        About the tutors
      </button>
    </h1>
  </div>
  <div class="col-md-2"></div>
</div>
<app-courses></app-courses>
