.text-larger {
  font-size: larger;
}
.semi-header {
  background-color: #141414;
  color: #ffffff;
}
.text-red {
  color: #ff4f4f;
}
.cost {
  text-align: right;
  color: #2646af;
}
.about-tutor {
  padding: 10px 20px;
  color: var(--text-red);
}
.tutor {
  color: #000000;
  font-size: large;
}
.bg-grey {
  background-color: #eaeaea;
}

.hiregraphic {
  padding: 10px;
  border-radius: 15px;
  background-color: #daffd8 !important;
}
.hireweb {
  padding: 10px;
  border-radius: 15px;
  background-color: #e3e3e3 !important;
}
.hireadvanced {
  padding: 10px;
  border-radius: 15px;
  background-color: #ffd8d8 !important;
}

p span {
  font-size: 50px;
}
.myname {
  font-size: 18px !important;
  background-color: #ff8989;
  padding: 3px 10px;
}
