<div class="bannerheader text-center py-5 bg-black text-light">
  <h1>About the <span class="text-danger"> Tutors</span></h1>
  <h4 class="text-center p-3">
    <span class="text-light">{{ typingText }}</span>
  </h4>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 row mb-5">
    <div class="col-md-4">
      <div class="m-2">
        <img
          src="images/claire.png"
          class="img-fluid rounded-circle"
          alt=""
          srcset=""
        />
      </div>
    </div>
    <div class="col-md-8 py-5">
      <div class="m-2">
        <h4 class="tutorname">Mrs. Claire Ochola</h4>
        <p class="p-3 tutor">
          Mrs. Claire Ochola is a multifaceted creative professional with a
          Bachelor of Arts in Music from Makerere University. She is a talented
          musician, scriptwriter, poet, and movie producer, holding a vocal
          coaching certificate from Cheryl Porter, the leading vocal coach in
          the world. Claire has also undergone professional 3D training with UCC
          and film production training through the Film Income Accelerator
          program. She has composed over 70 original, trending Afro-Musical, 2D
          & 3D Animated Learning-Aid Videos for Children and is skilled in
          modern 3D animation and video editing techniques. As the producer of
          the popular YouTube series 'Secrets of an African Teen,' Claire
          combines her passion for music and art with a strong interest in
          Artificial Intelligence and technology innovation.
          <i class="text-primary">See her work here</i>
          <i class="bi bi-arrow-right mx-2 text-primary"></i>
          <a
            href="https://www.youtube.com/@G-RealmMovies-m2u"
            class="btn btn-kids m-1"
            >MOVIES</a
          >
          <a
            href="https://www.youtube.com/@grealmkidsstudio6335"
            class="btn btn-kids m-1 ms-3"
            >KIDS' STUDIO</a
          >
        </p>

        <p class="p-3">
          <button class="btn btn-dark m-1" (click)="navigateToHome()">
            See Courses
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>

  <div class="col-md-8 row">
    <div class="col-md-4">
      <div class="m-2">
        <img
          src="images/alfie.png"
          class="img-fluid rounded-circle"
          alt=""
          srcset=""
        />
      </div>
    </div>
    <div class="col-md-8 py-5">
      <div class="m-2">
        <h4 class="tutorname">Alfred Ochola</h4>
        <p class="p-3 tutor">
          Alfred Ochola is a highly experienced Ugandan Full Stack Software,
          Mobile, and Web Developer with over 12 years in the field. An
          Electrical Engineer graduate from Makerere University, Alfred started
          coding in 2013 and began 3D animation in 2014, building a diverse
          portfolio of desktop and mobile applications, websites, and
          educational tutorials. He is also a seasoned professional graphic
          designer, with over a decade of experience working with leading
          organizations like World Vision and Monitor Publications. Alfred's
          expertise spans UI/UX, graphic design, 3D animation, app development,
          software deployment, and technical communication. He has designed over
          300 fliers, created over 50 video ads, and designed over 20 company
          profiles. He has authored multiple books and articles, led the
          development of over 30 enterprise websites, and created advanced
          solutions like the Ecopharm CRM system and over 3 enterprise-level
          mobile apps. Known for his resilience and integrity, Alfred
          collaborates with a dynamic team of developers.
        </p>

        <p class="p-3">
          <button class="btn btn-dark m-1" (click)="navigateToHome()">
            See Courses
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-8 row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <p class="p-5">
        <a
          href="https://store.pesapal.com/grealmstudiodonations"
          class="btn btn-lg btn-success m-1"
        >
          Make Donation
        </a>
      </p>
    </div>
  </div>

  <div class="col-md-2"></div>
</div>
