<div class="bannerheader text-center py-5 bg-black text-light">
  <h1>About the <span class="text-danger"> Tutors</span></h1>
  <h4 class="text-center p-3">
    <span class="text-light">{{ typingText }}</span>
  </h4>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 row mb-5">
    <div class="col-md-4">
      <div class="m-2">
        <img
          src="images/claire.png"
          class="img-fluid rounded-circle"
          alt=""
          srcset="" />
      </div>
    </div>
    <div class="col-md-8 py-5">
      <div class="m-2">
        <h4 class="tutorname">Mrs. Claire Ochola</h4>
        <p class="p-3 tutor">
          Mrs. Claire Ochola is a talented musician, script writer, poet and
          movie producer, with a Bachelors of Arts degree in Music, from
          Makerere University. She is also a professional vocal coach with a
          certificate from cherylportermethods.com, the leading vocal coach in
          the world. She has written, produced and featured in the famous
          animation "SECRETS OF AN AFRICAN TEENAGER" among others. She has also
          composed trending teaching aid videos for toddlers and children using
          a unique Musical approach with her original compositions.
          <i class="text-primary">See her work here</i>
          <i class="bi bi-arrow-right mx-2 text-primary"></i>
          <a
            href="https://www.youtube.com/@G-RealmMovies-m2u"
            class="btn btn-kids m-1"
            >MOVIES</a
          >
          <a
            href="https://www.youtube.com/@grealmkidsstudio6335"
            class="btn btn-kids m-1 ms-3"
            >KIDS' STUDIO</a
          >
        </p>

        <p class="p-3">
          <button class="btn btn-dark m-1" (click)="navigateToHome()">
            See Courses
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>

  <div class="col-md-8 row">
    <div class="col-md-4">
      <div class="m-2">
        <img
          src="images/alfie.png"
          class="img-fluid rounded-circle"
          alt=""
          srcset="" />
      </div>
    </div>
    <div class="col-md-8 py-5">
      <div class="m-2">
        <h4 class="tutorname">Alfred Ochola</h4>
        <p class="p-3 tutor">
          Alfred Ochola started his pursuit for Technology & Design prowess in
          Namilyango College, scoring 3AAAA in the National Exams (UACE -
          Physics, Chemistry, Mathematics & Fine Art), emerging the best in
          2011. Since then he has had rigorous training, great experience and
          cumulative expertise in computer knowledge, Graphic Design Software
          (still & motion Graphics 2D, 3D & AI). He has also had thorough
          training in diverse technologies & computer programming from the
          leading institutions & companies like Makerere University, IBM,
          Oracle, HiPipo, Mojaloop fintech foundation, LinkedIn Premium, NSSF
          Hi-Innovator business training, DFSLab, etc.
        </p>
        <p class="p-3 tutor">
          Alfred has worked for over 12 years in the professional Graphic Design
          environment in leading firms in Uganda, starting from Monitor
          Publications as an editorial cartoonist in 2012, MK publishers as a
          Book Illustrator in 2014, and LightHouse Television as a Motion
          Graphics Creator in 2016. He is passionate about passing on knowledge.
        </p>

        <p class="p-3">
          <button class="btn btn-dark m-1" (click)="navigateToHome()">
            See Courses
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-8 row">
<div class="col-md-4"></div>
<div class="col-md-8">
  <p class="p-5">
    <a href="https://store.pesapal.com/grealmstudiodonations" class="btn btn-lg btn-success m-1">
      Make Donation
    </a>
  </p>
</div>
  </div>

  <div class="col-md-2"></div>

</div>
