.title-purple {
  padding: 10px;
  background-color: rgb(235, 216, 255);
  border-bottom: 2px solid #000000;
}

.title-blue {
  padding: 10px;
  background-color: rgb(216, 228, 255);
  border-bottom: 2px solid #000000;
}

.title-red {
  padding: 10px;
  background-color: rgb(255, 216, 216);
  border-bottom: 2px solid #000000;
}

.title-green {
  padding: 10px;
  background-color: rgb(223, 255, 216);
  border-bottom: 2px solid #000000;
}

.title-orange {
  padding: 10px;
  background-color: rgb(255, 237, 216);
  border-bottom: 2px solid #000000;
}

.title-yellow {
  padding: 10px;
  background-color: rgb(251, 255, 216);
  border-bottom: 2px solid #000000;
}

.title-dark {
  padding: 10px;
  background-color: rgb(215, 215, 215);
  border-bottom: 2px solid #000000;
}

.table tr td {
  padding: 5px;
  border-bottom: 1px solid #000000;
}
.coursetitle {
  color: #818181;
}
td span {
  color: rgb(15, 142, 233);
  background-color: transparent;
  font-style: italic;
}
.mb-7 {
  margin-bottom: 100px;
}

.bg {
  background-color: #000000;
  background-image: url("/images/bg/clean-gray-paper.png");
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  background-image: url("/images/bg/clean-gray-paper.png");
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
}

/* Form color */
.form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #f0f5f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* Form animations */
.wrapper.animate-signUp .form-wrapper.sign-in {
  transform: rotate(7deg);
  animation: animateRotate 0.7s ease-in-out forwards;
  animation-delay: 0.3s;
}

.wrapper.animate-signIn .form-wrapper.sign-in {
  animation: animateSignIn 1.5s ease-in-out forwards;
}

@keyframes animateSignIn {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0) rotate(7deg);
  }
}

.wrapper .form-wrapper.sign-up {
  transform: rotate(7deg);
}

.wrapper.animate-signIn .form-wrapper.sign-up {
  animation: animateRotate 0.7s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes animateRotate {
  0% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(0);
    z-index: 1;
  }
}

.wrapper.animate-signUp .form-wrapper.sign-up {
  animation: animateSignUp 1.5s ease-in-out forwards;
}

@keyframes animateSignUp {
  0% {
    transform: translateX(0);
    z-index: 1;
  }

  50% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0) rotate(7deg);
  }
}
/* Heading text */
h2 {
  font-size: 30px;
  color: #1e2022;
  text-align: center;
}
/* Input text */
.input-group {
  position: relative;
  width: 320px;
  margin: 10px 0;
}

.input-group label {
  position: relative;

  left: 5px;
  font-size: 16px;
  color: #1e2022;
  padding: 0 5px;
}

.input-group input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #1e2022;
  padding: 0 10px;
  background: transparent;
  border: 1px solid #1e2022;
  outline: none;
  border-radius: 5px;
}

.backtocourse a {
  color: #0041b2;
  text-decoration: underline;
}
input {
  font-size: 18px !important;
  border: none !important;
  border-bottom: 1px solid #000000 !important;
  border-radius: 0 !important;
  text-align: center;
}

.success {
  background-color: #3db135;
  border-radius: 20px;
  color: #ffffff;
}
.selectedcourse {
  background-color: #aaffa4;
  width: 100%;
  padding: 10px;
}
.benefits {
  text-align: left;
}
.list-unstyled li h5 {
  color: #666666;
}
.bg-none {
  background-color: transparent !important;
}
.table2 tr td {
  padding: 5px;
  border-bottom: 1px solid #d8d7d7;
}
.table2 tr:nth-child(odd) {
  background-color: #e0e0e0;
}
.table2 {
  width: 100%;
}
