<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="p-3 mb-5" *ngFor="let course of courses">
      <h6 class="fw-bold text-center text-uppercase coursetitle">
        <span class="">{{ course.Title }}</span>
      </h6>

      <div class="row">
        <div
          class="col-md-3 d-flex flex-column justify-content-center align-items-center"
        >
          <a (click)="viewDetails(course.CourseId)">
            <div>
              <div class="m-3 shadow">
                <img src="{{ course.Image }}" class="img-fluid" alt="" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <div class="course p-3-text bg-transparent-white pb-5">
            <div class="price-tag row m-1">
              <div class="col-6 price-dollar text-center">
                <span class="">{{ course.Price }}</span>
              </div>
              <div class="col-6 price-ugx text-center">
                <span class="">{{ course.PriceUgx }}</span>
              </div>
            </div>
            <p class="p-3 text-center">
              {{ course.Description }}
            </p>
            <table class="course-info-table">
              <tr>
                <td>Next Lot Begins on:</td>
                <td class="text-primary">{{ course.Next }}</td>
              </tr>
              <tr>
                <td>Duration:</td>
                <td class="text-primary">{{ course.Duration }}</td>
              </tr>
            </table>
            <p class="p-3 text-center">
              <button
                class="btn btn-danger ps-5 pe-5 m-1"
                (click)="viewDetails(course.CourseId)"
              >
                See Details/ Apply
              </button>
            </p>
          </div>
        </div>
        <div
          class="col-md-3 d-flex flex-column justify-content-center align-items-center"
        >
          <div class="media-container">
            <div *ngIf="hasAudio(course)" class="my-3">
              <audio controls class="w-100">
                <source [src]="course.audioadvert" type="audio/mpeg" />
                Your browser does not support the audio element.
              </audio>
            </div>
            <div *ngIf="hasVideo(course)" class="my-3">
              <button
                class="btn btn-dark ps-5 pe-5 m-1 w-100"
                (click)="playVideo(course.videoadvert)"
              >
                <i class="bi bi-play-circle me-2"></i> Play Video Ad
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
