<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="p-3 mb-5" *ngFor="let course of courses">
      <h6 class="fw-bold text-center text-uppercase coursetitle">
        <span class="">{{ course.Title }}</span>
      </h6>

      <div class="row">
        <div class="col-md-3">
          <a (click)="viewDetails(course.CourseId)">
            <div>
              <div class="m-3 shadow">
                <img src="{{ course.Image }}" class="img-fluid" alt="" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <div class="course p-3-text bg-transparent-white pb-5">
            <div class="price-tag row m-1">
              <div class="col-6 price-dollar text-center">
                <span class="">{{ course.Price }}</span>
              </div>
              <div class="col-6 price-ugx text-center">
                <span class="">{{ course.PriceUgx }}</span>
              </div>
            </div>
            <p class="p-3 text-center">
              {{ course.Description }}
            </p>
            <p class="text-center">
              <span class="text-primary">Next Lot Begins:</span>
              <span class="text-success fw-bold">{{ course.Next }}</span>
              <!-- Changed text-danger to text-success -->
            </p>
            <p class="p-3 text-center">
              <button
                class="btn btn-dark ps-5 pe-5 m-1"
                (click)="viewDetails(course.CourseId)"
              >
                See Details/ Apply
              </button>
            </p>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
