<div class="row container-fluid">
  <div class="col-md-6">
    <div class="card m-0 mb-4 rounded-3 shadow-sm">
      <div class="card-header m-0 py-3">
        <h4 class="my-0 m-0 fw-normal">FREE</h4>
      </div>
      <div class="card-body m-0">
        <h1 class="card-title pricing-card-title m-0">
          $0<small class="text-muted fw-light"></small>
        </h1>
        <ul class="text-left list-unstyled mt-3 mb-4">
          <li><i class="bi bi-check me-2"></i> Personalize 1-Page Cards</li>
          <li><i class="bi bi-check me-2"></i> Personalize 2-Page Cards</li>
          <li><i class="bi bi-check me-2"></i> Supports .CSV file</li>
          <li><i class="bi bi-check me-2"></i> A4 Portrait Cards</li>
          <li><i class="bi bi-check me-2"></i> One font (HELVETICA)</li>
          <li><i class="bi bi-check me-2"></i> Windows PC</li>
          <li class="text-danger">
            <i class="bi bi-x-circle me-2"></i> A4 Landscape Cards
          </li>
          <li class="text-danger">
            <i class="bi bi-x-circle me-2"></i> iOS version
          </li>
          <li class="text-danger">
            <i class="bi bi-x-circle me-2"></i> Online Version
          </li>
        </ul>
        <button type="button" class="w-100 btn btn-dark" (click)="getFree()">
          FREE DOWNLOAD <i class="bi bi-arrow-down"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal alert-danger">Premium</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          $200<small class="text-muted fw-light h5">/year</small>
        </h1>
        <ul class="text-left list-unstyled mt-3 mb-4">
          <li class="text-success">
            <i class="bi bi-check me-2"></i> All free features plus
          </li>
          <li>
            <i class="bi bi-check me-2 text-danger"></i> A4 Landscape Cards
          </li>
          <li><i class="bi bi-check me-2 text-danger"></i> iOS version</li>
          <li><i class="bi bi-check me-2 text-danger"></i> 3 Fonts</li>
          <li><i class="bi bi-check me-2 text-danger"></i> Online Version</li>
          <li><i class="bi bi-check me-2 text-danger"></i> Shareable link</li>
        </ul>
        <button
          type="button"
          class="w-100 btn btn-danger"
          (click)="getPremium('GET PREMIUM CARD GENERATOR')"
        >
          Get Premium
        </button>
      </div>
    </div>
  </div>
</div>
