<footer class="footer-section">
  <div class="container">
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="/"><img src="images/logowhite.png" class="img-fluid" alt="G-Realm Studio" /></a>
            </div>
            <div class="footer-text">
              <p>
                G-Realm Academy is a hands-on mentorship program by G-Realm Studio, created to bridge the gap in practical digital skills in AI, Digital Art, and soft digital skills for both adults and children. We do this to create a pool of hirable talent to bridge the unemployment gap.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/courses">Courses</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Connect with us</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Get in touch with us for any queries.</p>
            </div>
            <div class="py-2">
              <a (click)="whatsappme()" class="btn btn-success mb-2 me-2">
                <i class="bi bi-whatsapp"></i> Whatsapp
              </a>
              <a (click)="emailme()" class="btn btn-danger mb-2">
                <i class="bi bi-envelope"></i> Send us Email
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="scripture-text m-0 rounded-0 text-center mx-auto">
      "Fear God and give Glory to Him. Worship Him who made heaven and earth...
      Rev 14:6-7"
      <i class="bi bi-stars"></i>
    </p>
  </div>
  <div class="copyright-area">
    <div class="container text-center text-light">
      <p>
        Copyright &copy; 2025, G-Realm Studio. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
