@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
body {
  --bs-body-font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
  --bs-body-line-height: 1.4;
  --bs-body-bg: var(--bs-gray-100);
  --bg-red: #da3434;
  --text-red: #da3434;
  --bg-light-red: #ffb8b8;
  --bg-black: #000000;
  background-color: #efefef;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.bg-danger {
  background-color: var(--bg-red) !important;
}
.table {
  --bs-table-color: var(--bs-gray-600);
  --bs-table-bg: var(--bs-gray-100);
  --bs-table-border-color: transparent;
}

.bg-black {
  background-color: var(--bg-black);
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.chosenapp {
  padding: 10px;
  background-color: #fff7f7;
  color: #b60f0f;
}
.form-control {
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid #000000;
}
.navbar-brand,
.nav-link,
.dropdown-item,
.btn {
  cursor: pointer;
}

.image-wrapper img {
  max-width: 200px !important;
}
.bannerheader {
  height: 200px !important;
}

.location {
  color: #004c98;
  font-weight: light;
}
.tutorname {
  color: #34ae21;
  padding: 5px;
  border-bottom: 1px solid #34ae21;
  font-size: 28px;
}
.btn-kids {
  background-color: #ffc675;
  color: #000000;
  font-weight: 600;
}
.btn-blue {
  background-color: #75ffda;
  color: #000000;
  font-weight: 600;
}
.btn-blue:hover,
.btn-kids:hover {
  background-color: #aeaeae;
  color: #000000;
}
.text-primary {
  color: #0190b0 !important;
}
